.container{
    width: 652px;
    height: 236px;
    background-color: #fffff;
    border-radius: 10px;
    border:1px solid black; 
}
btn {
    background:  #f3e4fa;;
  }
  
/*buttons nav css*/
.buttons-container{
    display: flex;
}
.btn-tab{
    width: 50%;
    height: 48px;
}

.btn-icons{
    width: 15px;
    height: 15px;
    
}
.active-btn{
    background-color: #bebebe;
}
.displynone{
    display: none;
}
.tab{
    
    height: 139px;
    background-color: blue;
    padding-left:50px;
    
    
}
.timer-tab{
    height: 139px;
    background-color: red;
    
    
}
.size-100{
    font-size: 100px;
}
#sub-latter{
font-size: 25px;
padding-right: 15px;
}
.part-second{
    font-size: 31px;

}
.active{
    display: block;
}
.footer-btn{
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin-top: 10px;
}
.start-btn{
    background-color:#1b5fb9 ;
}
